body{
margin:0;
font-family:Arial;
background:#f4f4f4;
}

.hero img{
width:100%;
height:260px;
object-fit:cover;
}

.topbar{
background:white;
padding:15px 20px;
display:flex;
justify-content:space-between;
align-items:center;
box-shadow:0 2px 5px rgba(0,0,0,0.1);
position:sticky;
top:0;
z-index:1000;
}

.logo{
font-size:20px;
font-weight:bold;
}

nav a{
margin-left:20px;
text-decoration:none;
color:#333;
font-weight:500;
}

.container{
max-width:900px;
margin:auto;
padding:40px 20px;
}

input,select,textarea{
width:100%;
padding:12px;
margin-top:10px;
margin-bottom:20px;
border-radius:8px;
border:1px solid #ddd;
}

button{
background:#16c25b;
color:white;
border:none;
padding:15px;
border-radius:8px;
font-size:16px;
width:100%;
}

footer{
background:#111;
color:white;
text-align:center;
padding:20px;
margin-top:40px;
}

.sidebar{
position:fixed;
right:10px;
top:40%;
background:white;
padding:10px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
font-size:14px;
}
